/* start BCH */

@font-face {
    font-family: 'BCH';
    src: url('../fonts/BCH-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/BCH-Bold.otf') format('opentype'), url('../fonts/BCH-Bold.woff') format('woff'), url('../fonts/BCH-Bold.ttf') format('truetype'), url('../fonts/BCH-Bold.svg#BCH-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BCH';
    src: url('../fonts/BCH-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BCH-Regular.otf') format('opentype'), url('../fonts/BCH-Regular.woff') format('woff'), url('../fonts/BCH-Regular.ttf') format('truetype'), url('../fonts/BCH-Regular.svg#BCH-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BCH';
    src: url('../fonts/BCH-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/BCH-Medium.otf') format('opentype'), url('../fonts/BCH-Medium.woff') format('woff'), url('../fonts/BCH-Medium.ttf') format('truetype'), url('../fonts/BCH-Medium.svg#BCH-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


/* end BCH */
