$mobile: "(max-width: 767px)"; //xs
$mobilelandscape: "(max-width: 767px) and (orientation: landscape)";
$tablet: "(min-width: 768px) and (max-width: 991px)"; // sm
$desktop-small: "(min-width: 992px) and (max-width: 1199px)"; // md
$mobile-y-tablet: "(max-width: 991px)";
$no-mobile: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$desktop-large: "(min-width: 1200px)"; //lgg
$phablet: "(min-width: 480px) and (max-width: 767px)"; // ph
$ruta_img	: 	'../img/';
$site-width: "(max-width: 978px)";

$colorAzul1: #17468e;
$colorGris1: #4a4a4a;